<head>
    <link type="text/css" rel="stylesheet"  href="user-details.component.css" /> 
</head>

<form>
    <h3>Canvas</h3>
    <label>Client ID:</label>
    <input type="text" placeholder="ClientID"/>
    <br/>
    <label>Client Secret:</label>
    <input type="text" placeholder="ClientSecret"/>
    <br/>
    <label>Refresh Token:</label>
    <input type="text" placeholder="RefreshToken"/>
    <br/>
    <br/>
    <h3 style="margin-top: 50px;">eCollege</h3>
    <label>User Name:</label>
    <input type="text" placeholder="UserName"/>
    <br/>
    <label>Client Secret:</label>
    <input type="text" placeholder="ClientSecret"/>
    <br/>
    <input class="enterbtn" type="submit" value="Enter" routerLink="/course-details"/>
</form>
